<template>
  <div>
    <Header></Header>
    <el-checkbox
      :indeterminate="isIndeterminate"
      v-model="checkAll"
      @change="handleCheckAllChange"
      >全选</el-checkbox
    > -->

  </div>
</template>

<script>
</script>

<style scoped>
</style>
