<template>
  <div>
    <Header></Header>
    <div class="block">
      <el-timeline>
        <el-timeline-item
          placement="top"
          v-for="(environment, key) in environments"
          :key="key"
        >
          <el-card class="card">
            <h4>环境名:</h4>
            <p style="font-size: large; color: salmon">{{ environment }}</p>
            <!--                        <el-button type="primary" round>查看服务</el-button>-->
          </el-card>
        </el-timeline-item>
      </el-timeline>
    </div>
  </div>
</template>

<script>
import Header from '../components/Header'
export default {
  name: 'Deploy',
  components: { Header },
  data () {
    return {
      environments: []
    }
  },
  methods: {
    envs () {
      const _this = this
      _this.$axios.get('/deploy/environments').then((res) => {
        console.log(res)
        _this.environments = res.data.environments
      })
    }
  },
  created () {
    this.envs()
  }
}
</script>

<style scoped>
.card {
  margin: 0 auto;
  text-align: center;
}
</style>
