<template>
  <div>
    <Header></Header>
    <el-input
      class="input"
      placeholder="请输入内容"
      v-model="input"
      @change="servers"
      clearable
    >
    </el-input>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="service" label="服务名" width="320">
      </el-table-column>
      <el-table-column width="320" prop="replicas" label="实例数">
      </el-table-column>
      <el-table-column label="操作" width="320">
        <template slot-scope="scope">
          <el-button
            @click="restart_service(scope.row.service)"
            type="primary"
            plain
          >
            重启服务
          </el-button>
          <el-button
            @click="delete_service(scope.row.service)"
            type="danger"
            plain
          >
            删除服务
          </el-button>
        </template>
      </el-table-column>
      <!--            <el-table-column-->
      <!--                    label="操作">-->
      <!--                <el-button @click="delete(scope.service)" type="primary" plain>重启服务</el-button>-->
      <!--                <el-button type="danger" plain>删除服务</el-button>-->
      <!--            </el-table-column>-->
    </el-table>
    <el-button @click="delete_all()" type="danger" plain
      >删除所有服务</el-button
    >
  </div>
</template>

<script>
import Header from '../components/Header'
export default {
  name: 'DeployService',
  components: { Header },
  data () {
    return {
      input: '',
      tableData: []
    }
  },
  methods: {
    servers (input) {
      const _this = this
      _this.$axios
        .get('deploy/services?environmentName=' + input)
        .then((res) => {
          console.log(res)
          _this.tableData = res.data.serviceStatus
        })
    },
    delete_service (service) {
      console.log(service)
      let readyData = JSON.stringify({
        environment: this.input,
        services: [service]
      })
      const _this = this
      _this.$axios
        .post('service/delete_services', JSON.parse(readyData))
        .then((res) => {
          console.log(res)
        })
      _this.servers(this.input)
    },
    delete_all () {
      const _this = this
      _this.$axios
        .post('services/delete_environment?environmentName=' + this.input)
        .then((res) => {
          console.log(res)
        })
      _this.servers(this.input)
    },
    restart_service (service) {
      console.log(service)
      let readyData = JSON.stringify({
        environment: this.input,
        service: service
      })
      const _this = this
      _this.$axios
        .post('deploy/restart_service', JSON.parse(readyData))
        .then((res) => {
          console.log(res)
        })
      _this.servers(this.input)
    }
  },
  created () {
    this.servers(this.input)
  }
}
</script>

<style scoped>
.input {
  margin-left: auto;
  max-width: 200px;
}
</style>
