<template>
  <div class="head">
    <h3>欢迎进入服务部署管理</h3>
    <div class="block">
    </div>
    <div class="row">
      <span
        ><el-link type="primary" style="font-size: medium" href="deploy"
          >查看所有环境名</el-link
        ></span
      >
      <el-divider direction="vertical"></el-divider>
      <el-divider direction="vertical"></el-divider>
      <span
        ><el-link type="success" style="font-size: medium" href="service"
          >查看已部署服务</el-link
        ></span
      >
      <el-divider direction="vertical"></el-divider>
      <el-divider direction="vertical"></el-divider>
    </div>
  </div>
</template>

<script>

</script>

<style scoped>
.head {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.row {
  margin: 10px 0;
}
</style>
